<section class="section-padding">
    <div class="container">
        <div class="row showcase-section">
            <div class="col-md-6">
                <img src="../squadbasket/static/img/dev1.png" alt="showcase image">
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <h3>Lorem Ipsum Dolor sit</h3>
                    <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Vivamus suscipit tortor eget felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar.</p>
                     <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..</p>
                </div>
            </div>
        </div>
    </div>
</section>