<section class="section-padding">
    <div class="container">
        {% for info in club %}
        <div class="row showcase-section">
            <div class="col-md-6">
                <img src="../static/uploads{{ info.imagen.url }}" alt="showcase image" width="100%">
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <h3>{{ info.titulo }}</h3>
                    <p class="descripcion">{{ info.descripcion|safe }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>