<div class="team-six">
    <div class="row center">
        {% for directivos in miembros %}
        <div class="col-md-3 col-sm-6">
            <!-- Team Member -->
            <div class="team-member">
                <!-- Image -->
                <img class="img-responsive" src="{{ directivos.imagen.url }}" alt="">
                <!-- Name -->
                <h4>{{ directivos.nombre }}</h4>
                <span class="deg">{{ directivos.puesto }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>