<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
                    <h5 class="widgetheading">Contacto</h5>
                    <address>
                        <strong>Pabellón Toni Servera</strong><br>
                        Cami Ca na Gabriela, 29<br>
                        Ses Cadenes (S’Arenal)<br>
                        07600 Palma de Mallorca
                    </address>
                    <p>
                        <span>971 87 56 56</span><br>
                        <span>basquet@bahiasanagustin.es</span><br>
                        <span>Lunes a Viernes de 17:30 a 20h</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h5 class="widgetheading">Destacados</h5>
                    <ul class="link-list">
                        <li><a href="#">Historia</a></li>
                        <li><a href="#">Equipos</a></li>
                        <li><a href="#">Contáctanos</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h5 class="widgetheading">Redes Sociales</h5>
                    <ul class="social-network">
                        <li class="facebook"><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="instagram"><a href="#" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li class="youtube"><a href="#" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; Web creada por </span><a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_top_card%3BYbxYfIjSTYGbTYRRPj6Skw%3D%3D" target="_blank">Adrián Rojas</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>