<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
                    <h5 class="widgetheading">Contacto</h5>
                    <address>
                        <strong>Pavelló Poliesportiu Bunyola</strong><br>
                        07110 Bunyola
                    </address>
                    <p>
                        <span>649 52 10 22</span><br>
                        <span>viulesportbunyola@gmail.com</span><br>
                        <span>Lunes a Viernes de 17:30 a 23:00h</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h5 class="widgetheading">Destacados</h5>
                    <ul class="link-list">
                        <li><a href="{% url 'club' %}">Historia</a></li>
                        <li><a href="{% url 'equipos' %}">Equipos</a></li>
                        <li><a href="{% url 'contacto' %}">Contáctanos</a></li>
                        <li><a href="{% url 'politica' %}">Política de privacidad</a></li>
                        <li><a href="{% url 'terminos' %}">Términos y condiciones</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h5 class="widgetheading">Redes Sociales</h5>
                    <ul class="social-network">
                        <a href="https://www.facebook.com/pg/viubasquet/photos/?ref=page_internal&mt_nav=0" data-placement="top" title="Facebook"><li class="facebook"><i class="fa fa-facebook"></i></li></a>
                        <a href="https://twitter.com/viubasquet?lang=es" data-placement="top" title="Twitter"><li class="twitter"><i class="fa fa-twitter"></i></li></a>
                        <a href="https://www.instagram.com/viubasquet_bunyola" data-placement="top" title="Instagram"><li class="instagram"><i class="fa fa-instagram"></i></li></a>
                        <a href="https://www.twitch.tv/viubasquet" data-placement="top" title="Twitch"><li class="twitch"><i class="fab fa-twitch"></i></li></a>
                    </ul>
                </div>
                <div class="copyright">
                    <p>
                        <span>&copy; Web creada por </span><a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_top_card%3BYbxYfIjSTYGbTYRRPj6Skw%3D%3D" target="_blank">Adrián Rojas</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</footer>