{% load staticfiles %}
<section id="gallery-1" class="content-block section-wrapper gallery-1">
    <div class="container">
        <div class="editContent">
            <ul class="filter">
                <li class="active"><a href="#" data-filter="*">Todos</a></li>
                <li><a href="#" data-filter=".junior">Junior</a></li>
                <li><a href="#" data-filter=".cadete">Cadete</a></li>
                <li><a href="#" data-filter=".infantil">Infantil</a></li>
                <li><a href="#" data-filter=".mini">Mini</a></li>
                <li><a href="#" data-filter=".iniciacion">Iniciación</a></li>
                <li><a href="#" data-filter=".masculino">Masculino</a></li>
                <li><a href="#" data-filter=".femenino">Femenino</a></li>
            </ul>
        </div>

        <div class="row">
            <div id="isotope-gallery-container">
                {% for categoria in equipo %}
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper {{ categoria.categoria }}">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/uploads{{ categoria.imagen.url }}" class="img-responsive"
                                 alt="{{ categoria.equipo }}">
                            <div class="image-overlay"></div>
                            <a href="../static/uploads{{ categoria.imagen.url }}" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="{% url 'plantillas' %}" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>{{ categoria.equipo }}</h5>
                            </div>
                            <div class="editContent">
                                <p>{{ categoria.descripcion }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>