<section id="gallery-1" class="content-block section-wrapper gallery-1">
    <div class="container">

        <div class="editContent">
            <ul class="filter">
                <li class="active"><a href="#" data-filter="*">Todos</a></li>
                <li><a href="#" data-filter=".junior">Junior</a></li>
                <li><a href="#" data-filter=".cadete">Cadete</a></li>
                <li><a href="#" data-filter=".infantil">Infantil</a></li>
                <li><a href="#" data-filter=".mini">Mini</a></li>
                <li><a href="#" data-filter=".iniciacion">Iniciación</a></li>
                <li><a href="#" data-filter=".masculino">Masculino</a></li>
                <li><a href="#" data-filter=".femenino">Femenino</a></li>
            </ul>
        </div>
        <!-- /.gallery-filter -->

        <div class="row">
            <div id="isotope-gallery-container">
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper junior masculino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/junior_masc.jpg" class="img-responsive"
                                 alt="1st gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/junior_masc.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Junior Masculino.</h5>
                            </div>
                            <div class="editContent">
                                <p>4º Mallorca / 6º Baleares.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper junior femenino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/junior_fem.jpg" class="img-responsive"
                                 alt="2nd gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/junior_fem.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Junior Femenino</h5>
                            </div>
                            <div class="editContent">
                                <p>3º Mallorca / 1º Baleares.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper cadete masculino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/cadete_masc.jpg" class="img-responsive"
                                 alt="3rd gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/cadete_masc.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Cadete Masculino</h5>
                            </div>
                            <div class="editContent">
                                <p>3º Mallorca.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper cadete femenino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/cadete_fem.jpg" class="img-responsive"
                                 alt="4th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/cadete_fem.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Cadete Femenino</h5>
                            </div>
                            <div class="editContent">
                                <p>2º Mallorca / 2º Baleares.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper infantil masculino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/infantil_masc.jpg" class="img-responsive"
                                 alt="5th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/infantil_masc.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Infantil Masculino</h5>
                            </div>
                            <div class="editContent">
                                <p>1º Mallorca / 2º Baleares.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper infantil femenino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/infantil_fem.jpg" class="img-responsive"
                                 alt="6th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/infantil_fem.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Infantil Femenino</h5>
                            </div>
                            <div class="editContent">
                                <p>1º Mallorca / 1º Baleares.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper mini masculino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/mini_masc.jpg" class="img-responsive"
                                 alt="6th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/mini_masc.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Mini Masculino</h5>
                            </div>
                            <div class="editContent">
                                <p>3º Mallorca.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper mini femenino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/mini_fem.jpg" class="img-responsive"
                                 alt="6th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/mini_fem.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Mini Femenino</h5>
                            </div>
                            <div class="editContent">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper iniciacion masculino femenino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/iniciacion_uno.jpg" class="img-responsive"
                                 alt="6th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/iniciacion_uno.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Iniciación A</h5>
                            </div>
                            <div class="editContent">
                                <p>3º Mallorca.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper iniciacion masculino femenino">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="../static/img/equipos/iniciacion_dos.jpg" class="img-responsive"
                                 alt="6th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="../static/img/equipos/iniciacion_dos.jpg" class="gallery-zoom"><i
                                    class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="gallery-details">
                            <div class="editContent">
                                <h5>Iniciación B</h5>
                            </div>
                            <div class="editContent">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.isotope-gallery-container -->
        </div>
        <!-- /.row -->
        <!-- /.container -->
    </div>
</section>