<div class="row">
    <div class="col-md-4">
        <!-- Heading and para -->
        <div class="block-heading-two">
            <h3><span>¿Que hacemos?</span></h3>
        </div>
        {% for info in club %}
        {{ info.que_hacemos|safe }}
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="block-heading-two">
            <h3><span>Organización</span></h3>
        </div>
        <div class="panel-group" id="accordion-alt3">
            {% for organizacion in org %}
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-alt3" href="#{{ organizacion.id }}">
                            <i class="fa fa-angle-right"></i> {{ organizacion.titulo }}
                        </a>
                    </h4>
                </div>
                <div id="{{ organizacion.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ organizacion.descripcion }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="block-heading-two">
            <h3><span>Experiencia</span></h3>
        </div>
        <h6>Cantera</h6>
        <div class="progress pb-sm">
            <!-- White color (progress-bar-white) -->
            <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width: 70%">
            </div>
        </div>
        <h6>Competividad</h6>
        <div class="progress pb-sm">
            <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="85"
                 aria-valuemin="0" aria-valuemax="100" style="width: 85%">
            </div>
        </div>
        <h6>Aprendizaje</h6>
        <div class="progress pb-sm">
            <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="90"
                 aria-valuemin="0" aria-valuemax="100" style="width: 90%">
            </div>
        </div>
        <h6>Compromiso</h6>
        <div class="progress pb-sm">
            <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width: 70%">
            </div>
        </div>
    </div>

</div>