<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Noticias Recientes</h2>
						<p>La última actualidad de nuestro club desde los más grandes a los más pequeños.</p>
					</div>
				</div>
			</div>
			<div class="row service-v1 margin-bottom-40">
                {% for noticias in recientes %}
                <div class="col-md-4 md-margin-bottom-40">
                   <img class="img-responsive noticias-recientes" src="static/uploads{{ noticias.imagen.url }}" alt="noticia reciente">
                    <h3>{{ noticias.titulo }}</h3>
                    <p>{{ noticias.texto }}</p>
                </div>
                {% endfor %}
            </div>
		</div>
    </section>