{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="skill-home">
            <div class="skill-home-solid clearfix">
                <div class="col-md-3 col-sm-6 text-center">
                    <span class="icons c1">
                        <i class="fa fa-home"></i>
                    </span>
                    <div class="box-area">
                        <h3>{{ columnas|pprint }}</h3>
                        <p></p>
                    </div>
                </div>
{% comment %}                <div class="col-md-3 col-sm-6 text-center">
                    <span class="icons c2">
                        <i class="fa fa-rocket"></i>
                    </span>
                    <div class="box-area">
                        <h3>Ready To Move</h3>
                        <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <span class="icons c3">
                        <i class="fa fa-trophy"></i>
                    </span>
                    <div class="box-area">
                    <h3>Commercial</h3>
                        <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <span class="icons c4">
                        <i class="fa fa-star"></i>
                    </span>
                    <div class="box-area">
                        <h3>Gated Projects</h3>
                        <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>
                    </div>
                </div>{% endcomment %}
            </div>
        </div>
    </div>
</div>

