{% load staticfiles %}
<div class="container">
    <div class="row">
        <!-- <div class="skill-home">
            <div class="skill-home-solid clearfix">
                {% for info in columnas %}
                <div class="col-md-3 col-sm-6 text-center">
                    <span class="icons c1">
                        {{ info.icono|safe }}
                    </span>
                    <div class="box-area">
                        <h3>{{ info.titulo }}</h3>
                        <p>{{ info.texto|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> -->
        <div class="desktop-wrapper pb-5">
            <div class="container">
                <div class="row">
                    <div class="options">
                        {% for info in columnas %}
                        <div class="option">
                            <div>
                                <div class="info-wrapper">
                                    <h2 class="title">{{ info.titulo }}</h2>
                                    <div class="description">
                                        <p>{{ info.texto|safe }}</p>
                                        <!-- <a class="ext-link" href="https://www.playrsmartcoach.com/" target="_blank" title="PLAYR Website">Website</a> -->
                                    </div>
                                </div>
                                <div class="icon-wrapper sb">
                                    <div class="category-icon">
                                        {{ info.icono|safe }}
                                    </div>
                                    <div class="category-text">
                                        {{ info.titulo }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-wrapper pb-5">
            <div class="container">
                <div class="row">
                    <div class="options">
                        {% for info in columnas %}
                        <div class="option">
                            <div>
                                <div class="info-wrapper">
                                    <h2 class="title">{{ info.titulo }}</h2>
                                    <div class="description">
                                        <p>{{ info.texto|safe }}</p>
                                    </div>
                                </div>
                                <div class="icon-wrapper sb">
                                    <div class="category-icon">
                                        {{ info.icono|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

